<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
      <class name="amazonCartAutomationScript.ProceedToBuyTest"/>
      <class name="amazonCartAutomationScript.ProductAmountTest"/>
      <class name="amazonCartAutomationScript.SaveForLaterTest"/>
      <class name="amazonCartAutomationScript.AddToCartTest"/>
      <class name="amazonCartAutomationScript.ProductDisplayTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
